
<h3 class="text-centered">Crea una Categoria</h3>
<%= form_for(categoria) do |f| %>
	<%= f.text_field :nombre, placeholder: "Nombre de la categoria", class:"small-centered columns" %>
	<%= f.submit "Guardar Categoria",  class:"button small-8-centered columns" %>
<% end %>
